/* Write your code here. */
.faqitem {
  border: 1px solid #d7dae6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.question {
  display: flex;
  justify-content: space-between;
}

.questionhead {
  color: #52606d!;
}

.answer p {
  color: #9aa5b1;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 55px;
  background-color: transparent;
  border: 1px solid #cb8805;
  color: #cb8805;
  align-self: center;
}

.answer {
  text-align: left;
}
